.header{
	height: 60px;
}

.header_profile_default_avt{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.content{
	height: 500px;
}
.content a{
	color: #000;
	font-weight: 600;
}
.content a:hover{
	text-decoration: none;
	font-weight: 700;
}
.left-side{
	height: 500px;
	overflow: scroll;
}
.left-side a{
	padding: 10px;
	border-bottom: 1px solid #aaa;
}
.msg-list{
	height: 500px;	
	overflow: scroll;
}

.msg{
	box-shadow: 0px 2px 10px 1px #000;
	padding: 10px;
	margin: 10px;
	display: block;
}
.msg .sender{
	padding-right: 50px;
}
.msg .subject{}
.msg .close{
	font-size: 14px;
}

.profile_pic{
	position: relative;
	height: 150px;
	width: 150px;
	text-align: center;
}
.profile_pic img{
	height: 150px;
	width: 150px;
}
.profile_pic a{
	position: relative;
	top: -70px;
	display: none;
}

.profile_pic:hover a{
	display: inline-block;
}
